# Environment variables
PORT=5000
DB_URI=mongodb+srv://ruhulamintuhin715_db_user:Iyb4mzL6XDu3LLsE@cluster0.6cz0u5m.mongodb.net/
JWT_SECRET=your_jwt_secret_here
WEATHER_API_KEY=your_weather_api_key_here

